<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension
            point="com.polarion.portal.tomcat.webapps">
        <webapp
                name="polarion/interceptor-manager"
                contextRoot="webapp/interceptor-manager">
        </webapp>
    </extension>
    <extension
            point="com.polarion.portal.tomcat.webapps">
        <webapp
                name="polarion/interceptor-manager-admin"
                contextRoot="webapp/interceptor-manager-admin">
        </webapp>
    </extension>
</plugin>